<footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <!-- Información del Banco -->
        <div class="col-md-6 mb-2">
          <h5 class="text-uppercase">Centauros Bank</h5>
          <p>
            Confianza y solidez a tu servicio desde 1990. Proporcionamos soluciones financieras que impulsan tu crecimiento.
          </p>
        </div>
  
        <!-- Enlaces Rápidos -->
        <div class="col-md-6 ">
          <h5 class="text-uppercase">Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a href="/about" class="text-white text-decoration-none">Sobre Nosotros</a></li>
            <li><a href="/services" class="text-white text-decoration-none">Servicios</a></li>
            <li><a href="/help" class="text-white text-decoration-none">Ayuda</a></li>
            <li><a href="/contact" class="text-white text-decoration-none">Contáctanos</a></li>
          </ul>
        </div>
      </div>
      <hr class="border border-white">
      <div class="text-center py-3">
        © 2024 Centauros Bank. Todos los derechos reservados.
      </div>
    </div>
  </footer>
  